{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"@typescript-eslint",
		"react",
		"react-hooks"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended"
	],
	"rules": {
		"@typescript-eslint/naming-convention": [
			"warn",
			{
				"selector": "import",
				"format": [
					"camelCase",
					"PascalCase"
				]
			}
		],
		"curly": "off",
		"eqeqeq": "warn",
		"no-empty": "off",
		"no-throw-literal": "warn",
		"semi": "off",
		"no-unused-vars": "off",
		"react-hooks/exhaustive-deps": "warn"
	},
	"ignorePatterns": [
		"out",
		"dist",
		"**/*.d.ts"
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"env": {
		"browser": true, // enable browser globals linting (window, document, console, etc)
		"es6": true, // enable ES6 linting
		"node": true, // enable Node linting (things like Buffer which is used in file reading, etc)
		"mocha": true // enable Mocha linting
	}
}