@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: var(--vscode-font-size);
}

.btn {
    @apply cursor-pointer transition-colors;

    &.btn-primary {
        @apply bg-vscode-button-bg text-vscode-button-fg;

        &:not(:disabled) {
            @apply hover:bg-vscode-button-hoverBg;
        }
    }

    &.btn-secondary {
        @apply bg-vscode-button-secondary-bg text-vscode-button-secondary-fg;

        &:not(:disabled) {
            @apply hover:bg-vscode-button-secondary-hoverBg;
        }
    }

    &:disabled {
        @apply opacity-75 cursor-not-allowed;
    }
}

.input {
    @apply bg-vscode-input-bg text-vscode-input-fg border-vscode-input-border;
}

.no-select {
    user-select: none;
	pointer-events: none;
	filter: blur(3px)
}